@extends('frontend.layouts.app')

@section('content')


<div class="container-fluid main" id="page-top">
  <div class="row">
    <div class="col-md-12 backg">

            <!--
      <div class="col-md-4 col-md-offset-4 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">-->
            <div class="col-md-6 someregister">
                <form action="#" method="post" class="form-register">
                    <h2 class="form__titulo">INICIE BUSQUEDA</h2>
                    <div class="contenedor-input_and_select">

                        <select name="convenios_carac" id="tipo" class="inputt-48">
                            <option value="rr">Convenios</option>
                            <option value="cu">Nacionales</option>
                            <option value="co">Internacionales</option>
                            <option value="ac">Practicas</option>
                            <option value="aa">Investigación</option>
                        </select>

                        <div class="inputt-48 select-especial">
                            <select name="aniofijo" id="anio" class="selectigual"  >
                                <option value="anio_name">Año</option>
                            </select>
                            <select name="mesfijo" id="mes" class="selectigual">
                                <option value="mes_name">Mes</option>
                            </select>
                        </div>
                        <input type="text" name="institucion" id="" placeholder="Institución" class="inputt-48" />
                        <select name="mar_espc" id="" class="inputt-48">
                            <option value="marco_name">Marco</option>
                            <option value="espec_name">Específico</option>
                        </select>

                        <input type="submit" value="BUSCAR" class="btnenviar" class="input-100" title="Presione para Buscar" />


                    </div>

                </form>


        </div>
    </div>

  </div>
</div>
@endsection
